<script>
  import { Router, Link, Route } from "svelte-routing";
  import { navigate } from "svelte-routing";

  import Home from './Home.svelte';
  import Test from './Test.svelte';

  export let url = '';
  let inputValue = '';
</script>

<main>
  <Router url="{url}">
    <Route path="/">
      <Home bind:inputValue={inputValue} />
    </Route>
    <Route path="test">
      <Test testValue={inputValue} />
    </Route>
  </Router>
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>