<script>
  import { Router, Link, Route } from "svelte-routing";
  import { navigate } from "svelte-routing";

  export let inputValue = '';
  function handleClick() {
    if (inputValue) {
      navigate('./test', { replace: false });
    } else {
      alert('Поле имя обязательно для заполнения!');
    }
  }
</script>

<input type="text" bind:value={inputValue} placeholder="Введите имя">
<button on:click={handleClick}>Далее</button>

<style>

</style>