<script>
  import Slider from '@smui/slider';
  export let testValue;
  let value = 0;
</script>

<h1>Привет  {testValue}!</h1>

<div>
  <Slider bind:value={value} min={-10} max={10} step={2} discrete displayMarkers />
</div>
<pre class="status">Value: {value}</pre>

<style>

</style>